.checkout-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 20px;
}
.checkout-container hr{
    width: 52%;
}
.checkout-container input{
    font-size: 19px;
    margin-bottom: 10px;
    border-color: transparent;
    border:0px solid;
    outline: none;
}
.checkout-container form{
    margin-top: 30px;
}
.checkout-container img{
    width: 60%;
    height: 90%;
    margin-left: 40px;
    border-radius: 8px;
}
.checkout-container button{
    padding: 20px;
    width: 52%;
    border-radius:0 18px;
    background-color: rgb(6, 22, 43);
    border: none;
    color: white;
    margin: 10px;
}
.project-highlight img{
    border-radius: 4px;
    margin: 20px;
}
.project-highlight h2{
    margin-top: 20px;
}