.form-container{
    text-align: center;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    width: 500px;
    margin: 10px 0;
}
.login{
    display: flex;
    justify-content: center;
}
.from-title{
    font-size: 35px;
    font-weight: 400;
    color: #2A414F;
} 
.input-group{
    margin-bottom: 23px;
}
.input-group label{
    display: block;
    padding-right: 360px;
}
.input-group input{
    width: 415px;
    height: 55px;
    font-size: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid rgb(2, 11, 17)
    ;
}
.input-btn{
    width: 415px;
    height: 55px;
    background-color:lightsalmon;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.input-btn:hover{
    background-color:rgb(172, 136, 122) ;
}
.login span a{
    color: orange;
    text-decoration: none;
}
.or-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin:30px;
}
.google-btn{
    width: 420px;
    padding: 15px;
    cursor: pointer;
    background-color: lightsalmon;
    border-radius: 8px;
    font-size: 20px;
    border: none;
}
.google-btn:hover{
    background-color:rgb(172, 136, 122);
}

.google-btn input{
    background-color: none;
    border: none;
}
.google-container{
    margin: 35px;
}
.login p{
    font:x-large
}
.conform-p{
    margin-left: 13px;
    
}
@media  only screen and (max-width:768px) {
    .form-container{
        text-align: center;
        border: 1px solid #95A0A7;
        border-radius: 8px;
        width: 300px;
        /* margin: 10px 0; */
    }
    .input-group input{
        width: 200px;
        font-size: 20px;
        border-radius: 8px;
        box-sizing: border-box;
        border: 1px solid rgb(2, 11, 17)
        ;
    }
    .input-btn{
        width: 200px;
        height: 55px;
        background-color:lightsalmon;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        font-size: 18px;
    }
    .google-btn{
        width: 200px;
        padding: 15px;
        cursor: pointer;
        background-color: lightsalmon;
        border-radius: 8px;
        font-size: 18px;
        border: none;
    }
}

